.wrapper {
    margin-top: 80px;
    margin-bottom: 20px;
}

.form-horizontal {
    max-width: 420px;
    padding: 5px 40px 20px;
    margin: 0 auto;
    background-color: #eaeaea;
}

.form-horizontal-heading {
    text-align: center;
    margin-bottom: 30px;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    width: auto;
    padding: 10px;
}

input[type="text"] {
    margin-bottom: 0px;
}

.btn {
    margin-top: 50px;
}

.validation-message {
    font-style: normal;
    font-size: 12px;
    color: #FF1C19;
}