.wrapper {
    margin-top: 80px;
    margin-bottom: 20px;
}

.form-horizontal {
    max-width: 420px;
    padding: 5px 40px 20px;
    margin: 0 auto;
    background-color: #eaeaea;
}

.form-horizontal-heading {
    text-align:center;
    margin-bottom: 30px;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    width: auto;
    padding: 10px;
}

.form-group.row {
    margin-top: 10px;
}

input[type="text"] {
    margin-bottom: 0px;
    font-size: 17px;
    text-align:center;
    padding-left: 0px;
    padding-right: 0px;
}

select[type="text"] {
    margin-bottom: 0px;
    font-size: 17px;
}


.btn {
    margin-top: 50px;
    max-width: 420px;
    margin: 0 auto;
}

.validation-message {
    font-style: normal;
    font-size: 12px;
    color: #FF1C19;
}

#number-weekends {
    border: 2px solid #337ab7;
    border-radius: 5px;
    width: auto;
    height: 70px;
    margin-bottom: 20px;
    font-family:"Courier New";
    font-size: 50px;
    text-align: -webkit-center;
    background-color:#ffffff;
}

#calculate {
    height: 70px;
    font-size: 23px;
    margin-top: 10px;
}

#response-message {
    text-align: -webkit-center;
    color: #FF1C19;
}