<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Log in with your account</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <form th:action="@{/login}" method="POST" class="form-signin">
        <h3 class="form-signin-heading" th:text="'Sign in to continue'"></h3>
        <br/>
        <div align="center" th:if="${param.logout}">
            <p style="font-size: 20; color: #187b07;">You've been logged out successfully.</p>
        </div>
        <input type="text" id="login" name="login" th:placeholder="Login"
               class="form-control"/> <br/>
        <input type="password" th:placeholder="Password"
               id="password" name="password" class="form-control"/> <br/>
        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">Login or password is incorrect.</p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Sign in" type="Submit"
                th:text="'Sign in'"></button>
        <h5 class="text-right"><a data-toggle="modal" href="/registration">Create an account</a></h5>
    </form>
</div>
</body>
</html>