<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <form autocomplete="off" action="#" th:action="@{/registration}"
          th:object="${userForm}" method="post" class="form-horizontal"
          role="form">
        <h3 class="form-horizontal-heading" th:text="'Create your account'"></h3>
        <div class="form-group">
            <label for="login-create">Login</label>
            <input type="text" th:field="*{login}" id="login-create" placeholder="min 6 characters"
                   class="form-control"/> <label
                th:if="${#fields.hasErrors('login')}" th:errors="*{login}"
                class="validation-message"></label>
        </div>
        <div class="form-group">
            <label for="password-create">Password</label>
            <input type="password" th:field="*{password}" id="password-create"
                   placeholder="min 8 characters" class="form-control"/> <label
                th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                class="validation-message"></label>
        </div>
        <div class="form-group">
            <label for="confirm-password">Confirm password</label>
            <input type="password" th:field="*{confirmPassword}" id="confirm-password"
                   placeholder="min 8 characters" class="form-control"/> <label
                th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
                class="validation-message"></label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Create</button>
        </div>
    </form>
</div>

</body>
</html>