<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Weekend</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/weekend.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <form th:action="@{/logout}" method="get">
        <button class="btn btn-primary btn-block" name="registration"
                type="Submit" th:text="${login} + ' | Logout'"></button>
    </form>

    <form  id="calculateWeekends" autocomplete="off"
          th:object="${calculateWeekendsRequest}" method="post" class="form-horizontal"
          role="form">
        <div class="form-horizontal-heading">
            <h3>Weekends calculator</h3>
            <h4>(Saturday, Sunday)</h4>
        </div>
        <div class="form-group" id="number-weekends">
            <div id="result">0</div>
        </div>
        <div class="form-group">
            <div>
                <h4>Input start date (inclusive):</h4>
            </div>
            <div class="form-group row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <label for="start-year">Year</label>
                    <input type="text" th:field="*{startYear}" id="start-year" class="form-control"
                           placeholder="0-999,999,999"/>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <label for="start-month">Month</label>
                    <select type="text" th:field="*{startMonth}" id="start-month" class="form-control">
                        <option th:each="month : ${T(com.task.weekend.model.Month).values()}"
                                th:value="${month}" th:text="${month.displayName}"></option>
                    </select>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <label for="start-day">Day</label>
                    <select type="text" th:field="*{startDay}" id="start-day" class="form-control" placeholder="day">
                        <option th:each="n : ${#numbers.sequence(1,31)}" th:value="${n}" th:text="${n}"/>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div>
                <h4>Input end date (inclusive):</h4>
            </div>
            <div class="form-group row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <label for="end-year">Year</label>
                    <input type="text" th:field="*{endYear}" id="end-year" class="form-control"
                           placeholder="0-999,999,999"/>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <label for="end-month">Month</label>
                    <select type="text" th:field="*{endMonth}" id="end-month" class="form-control">
                        <option th:each="month : ${T(com.task.weekend.model.Month).values()}"
                                th:value="${month}" th:text="${month.displayName}"></option>
                    </select>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <label for="end-day">Day</label>
                    <select type="text" th:field="*{endDay}" id="end-day" class="form-control" placeholder="day">
                        <option th:each="n : ${#numbers.sequence(1,31)}" th:value="${n}" th:text="${n}"/>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <h4>
                <input type="checkbox" th:field="*{includeHolidays}" id="include-holidays"/>
                Including holidays
            </h4>
        </div>
        <div>
            <p id="response-message" class="text-centred"></p>
        </div>
        <div class="form-group">
            <button type="submit" id="calculate" class="btn btn-primary btn-block">Calculate</button>
        </div>
    </form>
</div>
<script src="../static/js/flats.js" th:src="@{/js/weekend.js}"></script>
</body>
</html>